@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Inter:wght@400;700;800&family=Montserrat:wght@500;700&family=Overpass:wght@400;700&family=Roboto:wght@400;700&display=swap');
* {
    font-family: 'Overpass', sans-serif;
}
.Container {
    width: 100%;
    height: 100vh;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup {
    font-family: "Overpass", sans-serif;
    width: 350px;
    height: 40vh;
    background-color: hsl(213, 19%, 18%);
    padding: 30px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;

}
.popup h2 {
    color: white;
    margin-bottom: 5px;
}
.popup p {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
}
.numbers {
    display: flex;
    justify-content: space-between;
}
.circle {
    border-radius: 50%;
    width: 27px;
    height: 27px;
    padding: 10px;
    background: hsla(217, 12%, 63%, 0.1);
    color:  hsl(217, 12%, 63%);
    text-align: center;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.circle:active, .gray {
    background-color: hsl(217, 12%, 63%);
    color: white;
}
.circle:hover {
    cursor: pointer;
    color: white;
    background-color: hsl(25, 97%, 53%);
}
.popup button {
    display: block;
    margin-top: 35px;
    width: 100%;
    padding: 10px;
    background-color: hsl(25, 97%, 53%);
    color: white;
    border-radius: 27px;
    border: none;
    font-weight: 700;
} 
.popup button:hover {
    cursor: pointer;
    color: hsl(25, 97%, 53%);
    background-color: white;
}

/*  */
.Container {
    width: 100%;
    height: 100vh;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.pupop {
    width: 350px;
    height: 40vh;
    background-color: hsl(213, 19%, 18%);
    padding: 30px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    font-family: "Overpass", sans-serif;
}
.img {
    display: block;
    text-align: center;
    margin: auto;
}
.button {
    align-items: center;
    margin-top: 10px 110px 20px 110px;
    width: 50%;
    padding: 5px;
    color: hsl(25, 97%, 53%);
    background-color: hsla(217, 12%, 63%, 0.1);
    border-radius: 27px;
    border: none;
    font-size: 15px;
}
.pupop h2 {
    color: white;
    margin-top: 30px;
    font-weight: 700;
}
.pupop h5 {
    margin: auto;
    margin-top: 20px;
}  
.pupop p {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    text-align: center;

}
@media screen and (max-width: 400px) {
    .popup {
        width: unset;
        height: unset;
        margin-left: 15px;
        margin-right: 15px;
    }
    .pupop {
        width: unset;
        height: unset;
        margin-left: 15px;
        margin-right: 15px;
    }
}

